@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;
// img reset
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: var(--br-radius);
    font-family: inherit;
}

// PAGE SPECIFICS

// MAIN CONTENT
.main {
    display: grid;

    @include responsive(laptop) {
        --_sidebar-width: 25;
        grid-template-columns: calc(var(--_sidebar-width) * 1vw) 1fr;
        grid-template-columns: calc(var(--_sidebar-width) * 1dvw) 1fr;

        min-height: 100vh;
        min-height: 100dvh;

        .form {
            align-self: center;
        }
    }
}

.banner {
    --_max-height: 30;
    padding-block: rem(28);
    max-height: calc(var(--_max-height) * 1vh);
    max-height: calc(var(--_max-height) * 1dvh);

    @include responsive(laptop) {
        --_max-height: 100;
    }
}
// CARD Component

.card__container {
    position: relative;
    top: 35%;
    width: 260px;

    @include responsive(500) {
        top: 20%;
        width: 290px;
    }

    @include responsive(laptop) {
        top: 25%;
        left: 34%;
    }
    @include responsive(1150) {
        top: 20%;
        left: 50%;
        width: 310px;
    }

    @include responsive(1300) {
        width: 360px;
    }

    @include responsive(desktop) {
        left: 40%;
        width: 400px;
    }
}

.card {
    --_x-offset: 0;
    --_y-offset: 0;
    width: 100%;
    aspect-ratio: 447/245;

    transform: translateY(calc(var(--_y-offset) * 1%))
        translateX(calc(var(--_x-offset) * 1%));
}
.card--front {
    --_x-offset: -10;
    --_y-offset: 60;
    z-index: 2;

    @include responsive(laptop) {
        --_y-offset: -10;
        --_x-offset: -15;
    }
}
.card--back {
    --_x-offset: 10;
    --_y-offset: -100;
    z-index: 1;
    @include responsive(laptop) {
        --_y-offset: 0;
        --_x-offset: 15;
    }
}

.card__text {
    margin: 0;
    color: var(--clr-white);
    position: absolute;
    font-size: var(--fs-200);

    @include responsive(1150) {
        font-size: var(--fs-300);
    }
}

// CARD LOGO & TEXT
// card--front text
.logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    top: 10%;
    left: 6%;
}

.logo_circle {
    --_size: 0;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    width: calc(var(--_size) * 1px);
    height: calc(var(--_size) * 1px);

    &:first-child {
        --_size: 28;
        background-color: var(--clr-white);
    }

    &:last-child {
        --_size: 12;
    }
}

.card__text--card-number {
    top: 63%;
    left: 6%;
    letter-spacing: 2px;
    font-size: var(--fs-300);

    @include responsive(1150) {
        font-size: var(--fs-400);
        font-size: 22px;
    }
}

.card__text--name {
    bottom: 10%;
    left: 6%;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 70%;
}

.card__text--exp {
    bottom: 10%;
    right: 6%;
}
// card--back text
.card__text--cvc {
    top: 45%;
    right: 11%;
}
// FORM
.form {
    margin-block: 6rem 3rem;
}

.form__wrapper {
    max-width: 500px;

    @include responsive(laptop) {
        max-width: 380px;
    }
}

// LAYOUTS
.form__group {
    display: grid;
    gap: 0.5rem;
}
.form__group--side-by-side {
    grid-template-columns: repeat(2, 1fr);
}

// LABEL & INPUT
.form__label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: var(--fs-200);
    color: var(--clr-dark-violet);
}

.form__input {
    border: 1px solid var(--clr-light-gray-violet);
    padding: 0.5rem 1rem;
    border-radius: var(--br-radius);
    font-size: var(--fs-400);
    color: var(--clr-dark-violet);

    &::placeholder {
        color: var(--clr-light-gray-violet);
    }

    // STATES
    &:focus-visible {
        outline-color: var(--clr-grad-primary);
    }
    &:user-invalid {
        border-color: var(--clr-red);
    }
}
.form__response {
    margin-block: rem(10);
    color: var(--clr-red);
    font-size: var(--fs-200);
    min-height: 14px;
}
// BUTTON
.form__button {
    background: var(--clr-dark-violet);
    color: var(--clr-white);
    padding: rem(16) rem(32);

    &:focus-visible {
        outline-color: var(--clr-grad-primary);
    }
}
